@import "src/app/shared/styles/styles";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
}

.registration-form {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
